
<div class="container_answer">
<h1>Stupid Coach - Questions</h1>
  <div class="block">
    <form method= "get" action="/answer" data-turbo="false">
      <div class="form-group">
        <input type="text" name="answer">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
